*{
    margin: 0;
    border: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#menu{
    position: fixed;
    width: 100vw;
    height:70px;
    background-color: #eee;
}

#menu > ul{
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

#menu > ul li{
    list-style: none;
    margin: auto 50px auto 0;
    font-size: 1.5rem;
    font-weight: 600;
}


header{
    width: 100vw;
    height: 100vh;
    background-image: url(resources/office_black.jpg);
    background-size: cover;
    background-position: 30%;
}

header a{
    text-decoration: none;
}

.icon{
    position: absolute;
    top: 70px;
}

.header-text{
    position: absolute;
    color: #eee;    
    font-size: calc(100vw * 0.03 + 1rem);
    bottom: 10vh;
    left: 10vw;
}

.header-text h1{
   margin-top: -20px;
}

.header-text h3{
    font-size: 1.5rem;
    font-weight: lighter;
}

.icon svg{
    position: absolute;
}

#icon-btn_top{
    transform: rotateZ(35deg) skewX(-20deg);
}

#icon-btn_left{
    transform: skewY(35deg) translateX(-48px) translateY(57px);
}

#icon-btn_right{
    transform: skewY(-34.5deg) translateX(-14px) translateY(-33px);
}

main > div{
    position: relative;
    border-top: 3px solid #2c2c2c;
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
    background-color: #141414;
}

.flex-boxes{
    display: flex;
    flex-wrap: nowrap;
}

.flex-boxes__inner{
    flex-basis: 50vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#company-profile__img img{
    width: 90%;
    object-fit: scale-down;
}

#company-profile__content{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #eee;
}

#company-profile__content > *{
    margin-top: 30px;
}

#company-profile__content h1{
    font-size: 4rem;
    
}

#company-profile__content p{
    text-align: justify;
}

#company-profile__content button{
    width: 180px;
    height: 60px;
    background-color: #9b9b9b;
    color: #eee;
    font-size: 1rem;
    font-weight: 500;
}

#services{
    color: #fff;
    padding: 50px;
    box-sizing: border-box;
}


#services > div:first-child h1{
    font-size: calc(100vw * 0.03 + 2rem); 
    margin-top: -30px;
}

#services-img-container{
    width: 80%;
    height: 55%;
    overflow: hidden;
    margin-top: 20px;
}

#services-img-container img{
    width: 100%;
}

#services__content div{
    width: 95%;
}

.service__title > *{
    display: inline-block;
}

.service__title > h1{
    font-size: calc(100vw * 0.03 + .5rem); 
    color: rgb(135, 135, 135);
}

.service__title > h2{
    font-size: calc(100vw * 0.025 + .3rem);
    margin-left: 10px;
}

#services .text{
    font-size: calc(100vw * 0.020 + .2rem); 
    margin-left: 18%;
}

#clients{
    background-color: #fff;
    box-sizing: border-box;
    padding: 10%;
    height: max-content;
}

#clients h1{
    font-size: 3rem;
}

#clients h3{
    width: 60%;
}

#clients-img-container{
    display: flex;
    flex-wrap: wrap;
}

.clients-img__inner{
    min-width: 200px;
    width: 250px;
    min-height: 200px;
    aspect-ratio: 1 /1;

    margin-top: 5%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients-img__inner img{
    width: 90%;
    height: 80%;
}

.img-title{
    width: 90%;
    height: 20%;
    background-color: #141414;
    color: #eee;
    font-size: calc(100vw * 0.02);
    display: flex;
    align-items: center;
}

.img-title > b{
    font-weight: 500;
    margin-left: 5%;
}

#quote{
    box-sizing: border-box;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff
}

#quote h1{
    font-size: calc(100vw * 0.04 + 1rem);
}

#quote h2{
    font-size: calc(100vw * 0.02 + 1rem);
    margin-top: 5%;
    color: #8e8e8e;
}

/* Contact */

#contact{
    color: #eee;
    height: 100vh;
}

#contact > div:first-child{
    flex-grow: 2;
    flex-basis: 65vw;
}


#contact > div:first-child> h1{
    font-size: calc(100vw * 0.03 + 1rem);
    margin-left: 14%;
}

.contact-img-container{
    margin-top: 5%;
    width: 100%;
}

.contact-img-container img{
    width: 100%;
}

#contact > div:last-child{
    margin-left: 5%;
}

#contact > div:last-child h2{
    font-size: calc(100vw * 0.02 + 1rem);
    color: #999;
    margin-top: 10px;
}

#contact > div:last-child h3{
    margin: 10px 0 20px;
    font-size: calc(100vw * 0.01 + .7rem);
}

@media screen and (max-width: 700px) {

    #menu{
        background-color: transparent;
        position: relative;
    }

    #menu > ul{
        position: absolute;
        top: -45px;
        right: 0;
        flex-direction: column;
        width: calc(100vw / 2);
        height: calc(100vh / 3);
        overflow: hidden;
    }

    #menu > ul li{
        position: relative;
        background-color: #eee;
        width: 150px;
        margin: 0;
        padding-left: 10px;
        border: 1px solid #c6c6c6;
        border-radius: 10px;
    }

    #menu > ul li:first-child{
        margin-left: 60%;        
    }
    #menu > ul li:nth-child(2){
        margin-left: 65%;
    }
    #menu > ul li:nth-child(3){
        margin-left: 70%;
    }
    #menu > ul li:nth-child(4){
        margin-left: 75%;
    }

    #menu > ul li:last-child{
        margin-left: 80%;
    }





    .flex-boxes{
        flex-direction: column;
    }

    .flex-boxes__inner{
        align-items: center;
        flex-basis: 0;
        flex-grow: 0;
    }

    #company-profile{
        align-items: center;
    }

    #company-profile__img{
        margin-top: 1%;
    }

    #company-profile__img img{
        width: 60%;
        margin-top: 5%;
        object-fit: scale-down;
    }

    #company-profile__content{
        width: 60%;
        text-align: justify;
        padding: 0px 40px 20px 40px;
    }

    #company-profile__content h1{
        font-size: calc(100vw * 0.03 + 1rem);   
    }

    #services{
        padding: 0;
        height: max-content;
        min-height: min-content;
        overflow: hidden;
    }

    #services > div:first-child{
        margin-top: 5%;
        justify-content: start;
    }

    #services-img-container{
        height: 25%;
    }

    #services-img-container img{
        object-position: 0 -165px;
    }

    #services > div:last-child{
        margin-top: -50%;
        margin-bottom: 20px;
    }

    #services__content div{
        margin-left: 10%;
        width: 90%;
    }

    #clients h3{
        width: 90%;
    }

    #clients-img-container{
        flex-direction: column;
        align-items: center;
    }

    .img-title{
        font-size: calc(100vw * 0.02 + .5rem);
    }

    #contact{
        height: max-content;
    }

    #contact > div:first-child{
        margin-top: 30px;
        margin-bottom: 0;
    }

    #contact > div:last-child{
        flex-basis: 0;
        margin: 5% 0;
        text-align: center;
    }

    #contact > div:last-child h2{
        margin-top: 20px;
    }
}

