*{
    margin: 0;
    border: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: url(resources/office_black.jpg);
    background-size: cover;
    background-position: 30%;
}

.header-text{
    position: absolute;
    color: #eee;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    top: 65vh;
    left: 10vw;
}

.header-text h1{
   margin-top: -35px;
}

.header-text h3{
    font-size: 1.5rem;
    font-weight: lighter;
}

.icon svg{
    position: absolute;
}

#icon-btn_top{
    transform: rotateZ(35deg) skewX(-20deg);
}

#icon-btn_left{
    transform: skewY(35deg) translateX(-48px) translateY(57px);
}

#icon-btn_right{
    transform: skewY(-34.5deg) translateX(-14px) translateY(-33px);
}

main div{
    border-top: 4px solid rgb(168, 168, 168);
    width: 100%;
    min-height: 50vh;
}

main div:first-child{
    background: linear-gradient(to  top,
        #eee 0%, #000 10%);
}